<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label> READ </ng-template>
    <app-services-bluetooth
      [printerDevice]="printerDevice"
      [functionalities]="readFuncionalities"
      [type]="'read'"
    ></app-services-bluetooth>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> WRITE </ng-template>
    <app-services-bluetooth
      [printerDevice]="printerDevice"
      [functionalities]="writeFuncionalities"
      [type]="'write'"
    ></app-services-bluetooth>
  </mat-tab>
</mat-tab-group>
