<div class="container d-flex justify-content-center mt-4">
  <mat-card style="max-width: 600px">
    <img
      mat-card-image
      src="https://image.freepik.com/free-vector/business-people-using-devices-connected-with-bluetooth-bluetooth-connection-bluetooth-standard-device-wireless-communication-concept_335657-2285.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-actions class="d-flex justify-content-center">
      <button (click)="buscarImpresora()" mat-raised-button color="primary">
        CONECTARSE A LA IMPRESORA TERMICA.
      </button>
    </mat-card-actions>
  </mat-card>
</div>
